<fieldset>
  <dl>
      <dt><label for="category_id">Type</label></dt>
      <dd><%= f.input :category_id, :collection => recipe_cate_collect,  :required => true, :input_html => { :size => 5 }, :label=>false %></dd>
  </dl>
  
  <dl>
      <dt><label for="name">Name</label></dt>
      <dd><%= f.input :name, :required => true, :input_html => { :size => 50 }, :label=>false %></dd>
  </dl>

  <dl>
      <dt><label for="desc">Description</label></dt>
      <dd><%= f.input :desc, :as => :text, :input_html => { :rows => 5, :cols => 42 }, :label=>false  %></dd>
  </dl>
  
  <dl id="recipe_ingredients_dl">
      <dt><label for="ingredients">Ingredients</label></dt>
      <dd>
      <%= select_tag 'ingredients', grouped_options_for_select(ingredients_collect), {:multiple => true, :style => "height:100px;width:150px;", :id => "recipe_ingredients"} %>
       </dd>
  </dl>
  
</fieldset>