<ul class="cf">
   <li><%= link_to "Recipes", recipes_path, :class => get_recipes(controller_name)%></li>
   <li><%= link_to "Ingredients", ingredients_path, :class => get_ingredients(controller_name)%></li>
   <li><%= link_to "Categories", categories_path, :class => get_categories(controller_name)%></li>
</ul>